*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.8rem;
  
}

body{
  font-family: "Quicksand", sans-serif;
  width: 100vh;
  margin-block: 10%; 
  overflow: hidden;
}

html{
  font-size: 10px;
}

.calculator{
  padding-inline:5.2rem;
  padding-block: 6.2rem;
  background-color: rgb(214, 214, 214);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-radius: 4rem;
  row-gap: 3.2rem;
  max-width: 42rem;

  margin: auto;

  box-shadow: -2px 4px 2px 1px rgb(167, 167, 167);
}
.display-screen{
  height: 6rem;
  border: 1px solid rgb(182, 181, 181);
  border-radius: 1rem;
  padding: 1rem;

  background-color: rgb(253, 253, 253);
  font-size: 2.6rem;
  font-weight: 500;
  color: rgb(77, 77, 77);
  
}

button{
  font: 600 2.2rem "Quicksand", sans-serif;
  color: rgb(77, 77, 77);
  padding-block: 1.4rem;
  background-color: rgb(243, 242, 242);
  border: 1px solid rgb(170, 170, 170);
  border-radius: 1rem;
  box-shadow: -1px 2px 1px 0px rgb(167, 167, 167);
  
}

.buttons-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.4rem;
}